<%- include('../layouts/header') %>
<br><br>
<div class="container">
    <h3>welcome, <%= admin.id  %> </h3>
    <br>
    <a href="/admin/dashboard" class="btn btn-danger">Dashboard</a>
    <br><br>
    <a href="/admin/logout" class="btn btn-danger">Logout</a>

</div>

<%- include('../layouts/footer') %>